p {
  margin-bottom: 5px;
}
  /* div.horizontal-section{
    display:flex;
  }

  div.horizontal-children{
    display:1;
  }
  div.horizontal-children-img{
    position: fixed;
    bottom: -100px;
    right: -100px;
    width: 300px;
  } */

  .dropdown{
    margin: 0 0 10px;
    color: #555;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    width: 100%;
    width: 350px;
    font-size: 14px;
    padding: 6px 10px;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
    height: 32px;
    line-height: 1.3;
  }
  .radiobutton{
    font-size: 14px;
  }
  .cardImage{
    width: 33%;
    text-align:center;
  }

  div.All-parent{
    text-align: center;
  }
  div.info{
    float:left;
  }
  div.carousel{
    position :right;
    
  }

  div.parent{
    text-align: center;
    background-color: #fff;
    width: 100%;
    display: table;
  }
  div.form-child{
    margin: 30px;
    float:left;
    text-align:left;
  }

  div.pic-child{
    float:right;
    text-align:center
  }

  div.modal-child{
    text-align:center;
    margin: 20px;
  }

  legend {
    font-size: 17px;
    color: #0A4ABB;
  }

  label {
    display: block;
      width: 100%;
      padding: 0;
      margin: 0;
  }
  input[type=text] {
    margin: 0 0 10px;
    color: #555;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    width: 100%;
    width: 350px;
    font-size: 14px;
    padding: 6px 10px;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
    height: 32px;
    line-height: 1.3;
  }

  input[type=text].large-text{
    margin: 0 0 10px;
    color: #555;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    width: 100%;
    max-width: 350px;
    height: 100px;
    font-size: 14px;
    padding: 6px 10px;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
    
    line-height: 1.3;
  }
  .App {
    background-color: #fff;
    width: 100%;
    display: table;
  }
  
  .App > .Content {
    
    display: table;
    margin: 0 auto;
    padding: 50px 10px;
    width: 100%;
    max-width: 1100px;
    height: 100%;
  }
  
  .App h2 {
    color: rgb(238, 225, 48);
    font-size: 30px;
    font-weight: 400;
    padding: 0;
  }
  .Next {
    background-color: #0A4ABB;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }
  .Next:hover{
    background-color: rgb(48, 121, 247);
  }
  .Next:disabled{
    cursor: not-allowed;
    background-color: #7aa07c;
  }
  .Back {
    background-color: rgb(238, 225, 48);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }
  .Back:hover{
    background-color: rgb(243, 232, 72);
  }